// Specific CSS for your home-page
// .home-page {
//   background-size: 100%;
//   height: 100%;
//   width: 100%;
//   box-sizing: border-box;
//   margin: 0;
//   position: relative;
// }

.home-map {
  background-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  // position: relative;
}

.player{
  width: 80px;
  height: 100px;
  background-image: url("player_front.png");
  background-size: 240px 100px;
  background-position: -80px 0;
  position: fixed;
  border: solid 2px red;
  z-index: 999;
}
.player.active{
  animation: .3s walk linear infinite;
}

@keyframes walk{
  0%, 32%{
      background-position: 0 0;
  }
  33%, 65%{
      background-position: -80px 0;
  }
  66%, 100%{
      background-position: -160px 0;
  }
}
