
.title-bot {
  transform: translateY(300px);
  animation: .9s titleAnimation linear forwards;
  overflow: hidden;
  z-index: 1000;
}

.title-top {
  transform: translateY(-250px);
  animation: .9s titleAnimation linear forwards;
  overflow: hidden;
  z-index: 1000;
}

.curtain-right {
  position: relative;
}

.curtain-right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: .9s imageAnimationRight 2s forwards;
  z-index: 500;
}

@keyframes imageAnimationRight {
  to {
    display: none;
    opacity: 0;
  }
}

.curtain-left {
  position: relative;
}

.curtain-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: .9s imageAnimationLeft 2s forwards;
  z-index: 500;
}
@keyframes imageAnimationLeft {
  to {
    display: none;
    opacity: 0;
  }
}

.curtain-bot {
  position: relative;
}

.curtain-bot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: .9s imageAnimationBot 5s forwards;
  z-index: 500;
}

@keyframes imageAnimationBot {
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes titleAnimation {
  to {
    transform: initial;
  }
}

.swashOut {
  -webkit-animation-name: swashOut;
  animation-name: swashOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes swashOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  80% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

@keyframes swashOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  80% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 5s;
}

// .logo {
//   position: absolute;
//   top: 1vh;
//   left: 27vw;
//   width: 20vw;
// }

// #shein {
//   position: absolute;
//   top: 34vh;
//   left: 27vw;
//   width: 40vw;
//   font-size: large;
//   font-weight: 700;
// }

// #map-direction {
//   position: absolute;
//   top: 57vh;
//   right: -1vw;
//   width: 10vw;
//   font-size: large;
//   font-weight: 700;
// }

// #position-bottom-right {
//   position: absolute;
//   bottom: -8vh;
//   right: -11vw;
//   width: 40vw;
// }
