.navbar {
  width: 100%;
  background-color: #941b0c;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 92px;
  display: flex;
}

.big-button {
  width: 71px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #168aad;
  border: 4px solid #000000;
  right: 93%;
  top: 9%;
  position: absolute;
  box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25), inset 11px -4px 1px rgba(0, 0, 0, 0.25);
}

.small-button-1 {
  width: 23px;
  height: 21px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #6a040f;
  border: 2px solid #000000;
  right: 90%;
  top: 5%;
  position: absolute;
  box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25), inset 11px -4px 1px rgba(0, 0, 0, 0.25);
}

.small-button-2 {
  width: 23px;
  height: 21px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2b9348;
  border: 2px solid #000000;
  right: 82%;
  top: 5%;
  position: absolute;
  box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25), inset 11px -4px 1px rgba(0, 0, 0, 0.25);
}

.small-button-3 {
  width: 23px;
  height: 21px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #faa307;
  border: 2px solid #000000;
  right: 86%;
  top: 5%;
  position: absolute;
  box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25), inset 11px -4px 1px rgba(0, 0, 0, 0.25);
}

.grey-content {
  width: 870px;
  background-color: #C8C1C1;
  position: fixed;
  height: 52px;
  z-index: 100;
  left: 590px;
  top: 6%;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 10%;
  }
}

.title-pokedex {
  position: absolute;
  left: 10%;
  top: 33%;
  font-family: 'Pokemon Classic', sans-serif;
  animation: slideIn 1.4s ease-out;
}

.filtre {
  position: absolute;
  left: 59%;
  top: 5%;
}

#fil {
  margin: 0 10px;
  border-radius: 10px;
  background: #D9D9D9;
  font-style: bold;
  color: black;
  transition: transform 0.3s ease-in-out;
}

#fil:hover {
  transform: scale(0.9);
}

#back {
  position: absolute;
  background: #D9D9D9;
  font-style: bold;
  color: black;
  border-radius: 10px;
  left: 95%;
  top: 5%;
  transition: transform 0.3s ease-in-out;
}

#back:hover {
  transform: scale(0.5);
}


.home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C8C1C1;
}

.container {
  width: 93%;
  height: 81%;
  position: relative;
  background-image: url(coverindex.avif);
  // background-color: #f41010;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  transform: translateY(6%);
  display: flex;
  border: 2px solid #000000;
}

.list {
  width: 595px;
  height: 95%;
  position: relative;
  background: rgba(217, 217, 217, 0.6);
  box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.4);
  border-radius: 27px;
  transform: translateY(5%);
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: -9px;
}

.pokemon-card {
  width: 30%;
  height: 70%;
  position: absolute;
  background-color: aquamarine;
  right: 10%;
  top: 17%;
}

.avatar {
  width: 70px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: url(vegeta.png);
  right: 2%;
  top: 3%;
  position: absolute;
}

.like-count {
  position: absolute;
  border-radius: 20px;
  background: rgba(215, 111, 111, 0.63);
  width: 91px;
  height: 39px;
  right: 31%;
  top: 9%;
}
.heart-icon {
  position: absolute;
  width: 54px;
  height: 96px;
  right: 14%;
  top: 17%;
}

.fa-solid.fa-heart {
  transition: transform 0.3s ease-in-out;
}

.fa-solid.fa-heart:hover {
  transform: scale(1.3);
}

#carre {
  height: 75px;
  width: 33px;
  background: #941b0c;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  left: -2px;
  top: -28px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .pokemon-card {
    width: 280px;
  }

  .avatar {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .pokemon-card {
    width: 200px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    height: 75px;
  }

  .big-button, .small-button-1, .small-button-2, .small-button-3 {
    width: 50px;
    height: 50px;
    top: 7%;
  }

  .grey-content {
    width: 70%;
    height: 42px;
  }

  .title-pokedex {
    top: 30%;
  }

  .container {
    width: 90%;
    height: 75%;
  }

  .list {
    width: 500px;
    height: 90%;
  }

  .pokemon-card {
    width: 25%;
    height: 65%;
  }

  .avatar {
    width: 50px;
    height: 55px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    height: 65px;
  }

  .big-button, .small-button-1, .small-button-2, .small-button-3 {
    width: 40px;
    height: 40px;
    top: 5%;
  }

  .grey-content {
    width: 60%;
    height: 35px;
  }

  .title-pokedex {
    top: 25%;
  }

  .container {
    width: 85%;
    height: 70%;
  }

  .list {
    width: 450px;
    height: 85%;
  }

  .pokemon-card {
    width: 20%;
    height: 60%;
  }

  .avatar {
    width: 40px;
    height: 45px;
  }
}
