.lab-container {
  margin: 0;
  top: 0;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('pokemaker_waiting.png');
  // transition: background-image 1s;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hundred {
  width: 100%;
  height: 100vh;
}

.background-black {
  // background-color: rgba(0, 0, 0, 1);
  background-image: radial-gradient(0px 0px at 50vw 50vh, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

// .defade-animation {
//   // background-image: radial-gradient(1500px 1500px at 50vw 50vh, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
//   // animation: fadeBackground 10s;
//   // animation-fill-mode: forwards;
// }

// @keyframes fadeBackground {
//   from { background: radial-gradient(0px 0px at 50vw 50vh, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));}
//   to { background: radial-gradient(1500px 1500px at 50vw 50vh, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));}
// }

// .lab-container:hover,.lab-container.on {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)) , url('pokemaker_waiting.png');
// }

.container-shen {
  background-image: url('chen.png');
  height: 96vh;
  width: 90vw;
  background-size: 100% 100%;
  margin: 7vh auto 3vh auto;
  margin-inline: 5rem !important;
}

.container-reveal {
  height: 90vh;
  width: 90vw;
  padding: 7vh auto 3vh auto;
}

.step-form-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  width: 65%;
  // height: 50% !important;
  padding: 5% 0 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 30px;
  padding: 0 3%;
  margin: 0 0 0 3%;
  font-family: 'Press Start 2P', cursive;
  // justify-content: space-between;
  label {
    font-size: 12px;
  }
}

.dialog-container {
  width: 90%;
  height: 48% !important;
  padding: 3% 16% 0 0;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 10%;
  font-family: 'Press Start 2P', cursive;
}

.types-inline {
  display: inline-block;
}

.hidden-input {
  position: absolute;
  transform: scale(0)
}

.hidden-input + label {
  cursor: pointer;
  margin: 5px;
}

.hidden-input:checked + label {
  border: 3px solid black;
  border-radius: 50%;
}

.types-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.submit-button {
  padding: 5px;
  background: none;
  border: none;
  font-size: 16px;
  // font-family: 'Press Start 2P', cursive;
}

.attacks-label {
  width: 20%;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.attacks-text p {
  font-size: 12px;
}

.gif-loading {
  height: 91vh;
  width: 90vw;
  text-align: center;
  color: black;
  margin: auto;
  #loading {
    width: 40%;
    height: 40%;
    margin: 5% 30% 0 30%;
    padding: 3%;
  }
  h2 {
    margin-top: 5px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
  }
}


.menu-item {
  position: relative;
}

.menu-item ul {
  list-style-type: none;
  z-index: 100;
  position: absolute;
  left: 0; top: 100%;
  width: 100%;
  li {
    font-size: 12px;
  }
}

.attack-tag {
  font-size: 12px;
  justify-content: space-between;
  border-radius: 5%;
  border: 1px solid rgb(109, 4, 4);
  background: rgba(207, 4, 4, 0.5);
  font-family: 'Press Start 2P', cursive;
  width: fit-content;
  padding: 3px;
  margin-bottom: 3px;
  p {
    margin: auto 0;
  }
}
