.lab-container {
  margin: 0;
  top: 0;
  position: absolute;
  background-image: url('pokemaker_waiting.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}

.container-shen {
  background-image: url('chen.png');
  height: 90vh;
  width: 90vw;
  background-size: 100% 100%;
  margin: 7vh auto 3vh auto;
  margin-inline: 5rem !important;
}

.container-reveal {
  height: 90vh;
  width: 90wh;
  margin: 7vh auto 3vh auto;
}

.step-form-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  width: 60%;
  // height: 50% !important;
  padding: 5% 0 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 30px;
  padding: 0 3%;
  margin: 0 0 0 9%;
  // justify-content: space-between;
}

.dialog-container {
  width: 90%;
  height: 50% !important;
  padding: 5% 0 0 0;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 0 12%;
}

.types-inline {
  display: inline-block;
}

.hidden-input {
  position: absolute;
  transform: scale(0)
}

.hidden-input + label {
  cursor: pointer;
  margin: 5px;
}

.hidden-input:checked + label {
  border: 3px solid black;
  border-radius: 50%;
}

.types-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.submit-button {
  padding: 5px;
  background: none;
  border: none;
  font-size: 24px;
}

.attacks-label {
  width: 15%;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.attacks-text p {
  font-size: 12px;
}

.gif-loading {
  height: 91vh;
  width: 90vw;
  text-align: center;
  color: black;
  margin: auto;
  #loading {
    width: 40%;
    height: 40%;
    margin: 5% 30% 0 30%;
    padding: 3%;
  }
  h2 {
    margin-top: 5px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
  }
}
