.screen {
  background-image: url('background_profile.png');
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  padding-inline: 3rem;
  padding-block: 2rem;
  display: flex;
  gap: 3rem;
}

.profile {
  background-color: rgba(243, 9, 9, 0.7);
  
  width: 40%;
  border-radius: 10px;
  padding: 2rem;
  border: solid;
}

.trainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: solid;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 5rem;
}

.stats {
  padding: 1rem;
  border-bottom: solid;
}

.main_pokemon {
  padding: 1rem;
}

.pokemon_cards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  // grid-auto-rows: minmax(100px, auto);

  &:nth-child(even){
    margin-top: 1rem;
  }
}
