.home-profile {
  background-image: url(pokemon_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin : 0;
  display: flex;
}

.profile-container {
  position: relative;
  width: 45%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 3%;
  background-color: rgba(255, 0, 0, 0.9);
  left: 2%;
  border-radius: 27px;
  box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.4);
  border: 2px solid #000000;
  transition: transform 0.3s ease-in-out;
}

.profile-container:hover {
  transform: scale(1.02);
}

.line-1 {
  position: absolute;
  left: 12%;
  bottom: 31%;
  letter-spacing: -5px;
}

.line-2 {
  position: absolute;
  left: 12%;
  bottom: 65%;
  letter-spacing: -5px;
}

.decoration-buttons {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  gap: 10px;
}

.decoration-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.decoration-button-red {
  background-color: red;
}

.decoration-button-red:hover {
  filter: brightness(120%) saturate(150%);
}

.decoration-button-green {
  background-color: green;
}

.decoration-button-green:hover {
  filter: brightness(120%) saturate(150%);
}

.decoration-button-blue {
  background-color: #3f37c9;
}

.decoration-button-blue:hover {
  filter: brightness(190%) saturate(170%);
}

@keyframes redButton {
  0% { filter: none; }
  50% { filter: brightness(120%) saturate(150%); }
  100% { filter: none; }
}

@keyframes greenButton {
  0% { filter: none; }
  50% { filter: brightness(120%) saturate(150%); }
  100% { filter: none; }
}

@keyframes blueButton {
  0% { filter: none; }
  50% { filter: brightness(190%) saturate(170%); }
  100% { filter: none; }
}

.decoration-button-red {
  background-color: red;
  animation: redButton 2s infinite;
}

.decoration-button-green {
  background-color: green;
  animation: greenButton 2s infinite;
}

.decoration-button-blue {
  background-color: #3f37c9;
  animation: blueButton 2s infinite;
}


.avatar-profile {
  position: absolute;
  top: 2%;
  left: 10%;
  width: 33%;
  height: 28%;
  background-image: url(ashbl.png);
  background-color: white;
  background-size: cover;
  border: 4px solid #000000;
  border-radius: 177px;
}

.profile-box {
  position: absolute;
  top: 22%;
  left: 44%;
}

.title-name {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.profile-description {
  font-size: 30px;
  line-height: 47px;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.text-describe {
  font-size: 30px;
  line-height: 47px;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.bottom-right-image {
  position: absolute;
  bottom: 13%;
  right: 5%;
  width: 125px;
  height: 125px;
  background-image: url(Badge1.png);
}

.fav-pokemon-profile {
  position: absolute;
  bottom: 5%;
  left: 27%;
}

.footer-profile {
  position: absolute;
  top: 70%;
  left: 29%;
  line-height: 47px;
}

.footer-describe {
  font-size: 30px;
  line-height: 47px;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.list-profile {
  background: rgba(217, 217, 217, 0.6);
  position: absolute;
  width: 50%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  top: 3%;
  left: 48%;
  border-radius: 27px;
  box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.4);
  border: 2px solid #000000;
  gap: 10px;
}

.list-profile div.pokemon-bubble {
  width: 283px;
  height: 109px;
  border-radius: 50px;
  top: 9px;
  background-color: rgba(184, 184, 184, 0.85);
  box-shadow: 1px 2px 3px grey;
  position: relative;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.return-profile {
  position: absolute;
  bottom: 4%;
  left: 6%;
}

#icon {
  color: #000000;
  font-size: 30px;
  margin-left: 10px;

}

.gif-profile {
  position: absolute;
  top: 19%;
  right: 5%;
}

// mediaqueries

@media only screen and (max-width: 600px) {
  .profile-container, .list-profile {
    width: 90%;
    left: 5%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .profile-container, .list-profile {
    width: 70%;
    left: 15%;
  }
}

@media only screen and (min-width: 1367px) {
  .profile-container, .list-profile {
    width: 45%;
    left: 27.5%;
  }
}
