<div class="pokemon-bubble">
  <%= image_tag 'pikachu.jpg', :class => "photo" %>
  <div class="bubble-info">
    <div class="energy">
      <%= image_tag 'electric', :class => "photo-energy" %>
      <%= image_tag 'fight', :class => "photo-energy" %>
    </div>
    <h2 id="name">Pikachu</h2>
  </div>
  <div class="like-bubble">
    <i class="fa-solid fa-heart" style="color: #f70227;"></i>
    <p>23</p>
  </div>
</div>
