<div class="card_pokemon" data-controller="shiny">
  <div class="card__wrapper">
    <div class="card__3d">
      <div class="card__image p-2">
        <div class="bg-secondary h-100">
          <p>Chienrock</p>
          <%= image_tag 'pokemon_dog.png' %>
          <button>HELLO</button>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea non nobis aut. Ipsa, distinctio dolore quae doloremque saepe repellat nemo dolor laudantium, consectetur quod tenetur! Nisi obcaecati veniam vel minima.</p>
        </div>
      </div>
      <div class="card__layer1"></div>
      <div class="card__layer2"></div>
    </div>

  </div>
</div>
