<div class="">
  <%= image_tag 'pokemaker_logo.gif' %>
</div>


<%= render partial: 'shared/pokemon_card', locals: {pokemon: Pokemon.last} %>

<%= link_to "Pokemaker", pokemons_new_path %>
<%= link_to "Pokedex", pokemons_index_path %>
