<h1>Pages#home</h1>

<p>Find me in app/views/pages/home.html.erb</p>
<%= render "shared/pokemon_card" %>
<%= link_to "new", pokemons_new_path %>
<%= link_to "index", pokemons_index_path %>
<%= cl_image_tag Pokemon.last.photo.key, height: 300, width: 400, crop: :fill %>
