<div class="lab-container" data-controller="pokemon">
  <div class="background-black hundred" data-pokemon-target="background">
    <%= render 'shared/pokemon_card', pokemon: Pokemon.last, shine: true, revealed: false %>
  </div>
</div>
