.btn-pixel {
  font-size: 1.2em;
  font-family: 'Press Start 2P', cursive;
  width: 200px;
  height: 70px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
  border: 0px;
  position: relative;
  margin: 20%;
  box-shadow:
    inset -4px 2px 1px 1px grey,
    inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.btn-pixel:hover {
  cursor: pointer;
}

.btn-pixel:active {
  top: 5px;
  box-shadow:
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray;
}

.btn-pixel::after {
  content: '';
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.btn-pixel::before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

.btn-position1 {
  position : absolute;
  top:60%;
  left:80%;
}

.btn-position2 {
  position : absolute;
  top:75%;
  left:80%;
}
