.chat-container {
  width: 30vw;
  height: 90vh;
  border: solid grey;
  border-radius: 8px;
  position: relative;
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-bottom: black;
}

.chat {
  padding: 2rem;
}

.send {
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  padding: 1rem;
  justify-content: space-between;
}

.typing-bubble {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  animation: typing 1s infinite;
  margin-left: 5px;
}

@keyframes typing {
  0%, 50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.right {
  text-align: right;
}
