.chat-container {
  width: 45%;
  height: 95%;
  border: solid grey;
  border-radius: 8px;
  position: relative;
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-bottom: black;
}

.chat {
  padding: 2rem;
}

.send {
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.typing-bubble {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  animation: typing 1s infinite;
  margin-left: 5px;
}

@keyframes typing {
  0%, 50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.right {
  text-align: right;
  margin-bottom: 1rem;
  span {
    background-color: rgba(103, 227, 103, 80%);
    padding: 5px;
    border-radius: 10px;
  }
}

.left {
  text-align: left;
  margin-bottom: 1rem;
  span {
    background-color: rgba(188, 185, 185, 0.8);
    padding: 5px;
    border-radius: 10px;
  }
}
