#home-map {
  position: relative;
}

.map-background {
  background-image: url('argenta-ville.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999;
}

.player {
  width: 80px;
  height: 100px;
  bottom: 250px;
  left: 300px;
  background-size: 240px 100px;
  background-position: -80px 0;
  position: fixed;
  z-index: 999;
}

.player-left {
  background-image: url('player_left.png');
}

.player-right {
  background-image: url('player_right.png');
}

.player-back {
  background-image: url('player_back.png');
}

.player-front {
  background-image: url('player_front.png');
}

.player.active{
  animation: .2s walk linear infinite;
}

@keyframes walk{
  0%, 32%{
      background-position: 0 0;
  }
  33%, 65%{
      background-position: -80px 0;
  }
  66%, 100%{
      background-position: -160px 0;
  }
}

// #maison {
//   z-index: 1000;
//   border: 1px solid red;
//   height: 15%;
//   width: 15%;
//   position: absolute;
//   bottom: 27%;
//   left: 33%;
//   transform: translate(-50%, -50%)
// }
