#home-map {
  position: relative;
}

.map-background {
  background-image: asset-url("argenta-ville");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -999;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.player {
  width: 80px;
  height: 100px;
  bottom: 250px;
  left: 300px;
  background-size: 240px 100px;
  background-position: -80px 0;
  position: fixed;
  z-index: 999;
}

#home-profil {
  z-index: 1000;
  border: 1px solid red;
  height: 10%;
  width: 10%;
  position: absolute;
  bottom: 30%;
  left: 33%;
  transform: translate(-50%, -50%)
}

#pokedex {
  z-index: 1000;
  border: 3px solid purple;
  height: 20%;
  width: 5%;
  position: absolute;
  bottom: 65%;
  left: 90%;
  transform: translate(-50%, -50%)
}

#pokelab {
  z-index: 1000;
  border: 3px solid blue;
  height: 10%;
  width: 10%;
  position: absolute;
  bottom: 65%;
  left: 36%;
  transform: translate(-50%, -50%)
}

#map-pokeworld {
  z-index: 1000;
  border: 3px solid rgb(32, 154, 44);
  height: 10%;
  width: 10%;
  position: absolute;
  top: 85%;
  left: 90%;
  transform: translate(-50%, -50%)
}

.chen-avatar {
  position: absolute;
  top: 4%;
  left :27%;
}

.font-f {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
}

.pokemaker-logo {
  position: absolute;
  bottom: 60%;
  left :70%;
}

.map-redirection {
  position: absolute;
  top: 87%;
  left: 75%;
}

.pokedex-home {
  position: absolute;
  bottom: 52%;
  left: 75%;
}

.home-profil {
  position: absolute;
  bottom: 38%;
  left: 27%;
}


.player-left {
  background-image: image-url("player_left.png");
}

.player-right {
  background-image: image-url("player_right.png");
}

.player-back {
  background-image: image-url("player_back.png");
}

.player-front {
  background-image: image-url("player_front.png");
}

.player.active{
  animation: .2s walk linear infinite;
}

@keyframes walk{
  0%, 32%{
      background-position: 0 0;
  }
  33%, 65%{
      background-position: -80px 0;
  }
  66%, 100%{
      background-position: -160px 0;
  }
}
