.poke-bubble {
  width: 250px;
  height: 100px;
  border-radius: 50px;
  background-color: rgba(184, 184, 184, 0.6);
  box-shadow: 1px 2px 3px grey;
}

.photo {
  width: 100px;
  border-radius: 50px;
}
