.pokemon-bubble {
  width: 250px;
  height: 96px;
  border-radius: 50px;
  top: 9px;
  background-color: rgba(184, 184, 184, 0.85);
  box-shadow: 1px 2px 3px grey;
  position: relative;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.pokemon-bubble:hover {
  animation: pulse 0.7s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#name {
  margin-left: 10px;
}

.photo {
  width: 100px;
  border-radius: 50px;
}

.bubble-info {
  padding: 7px;
}

.photo-energy {
  width: 30px;
  border-radius: 15px;
}

.energy {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.like-bubble {
  width: 51px;
  height: 23px;
  background-color: rgba(216, 128, 128, 0.9);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -6px;
  right: 16px;
  gap: 3px;
  padding: 8px;
}

.like-bubble, p {
  margin-bottom: 0px !important;
}
