<div class="chat-container">
  <div class="chat-info">
    <%= image_tag 'vegeta.png', :class => "avatar-custom" %>
    <h3></h3>
  </div>
  <div class="chat">
  </div>
  <div class="send">
  </div>
</div>
