<div class="home">
 <nav class="navbar">
   <h1 class="title-pokedex">Pokedex</h1>
   <div class="grey-content">
     <div id="carre"></div>
   </div>
   <div class="filtre">
    <button type="button" class="btn btn-secondary" id="fil">Filtre</button>
    <button type="button" class="btn btn-secondary" id="fil">Filtre</button>
    <button type="button" class="btn btn-secondary" id="fil">Filtre</button>
   </div>
   <button type="button" class="btn btn-secondary" id="back">Back</button>
 </nav>
 <div class="container">
 <div class="like-count">
    <div class="heart-icon">
        <p><i class="fa-solid fa-heart" style="color: #e70808;"></i> 0</p>
    </div>
 </div>
  <div class="list">
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
    <div class="pokemon-cell">
      <p>Pikachu</p>
      <img src="#">
    </div>
  </div>
  <div class="pokemon-card">
  </div>
  <div class="avatar">
  </div>
 </div>
</div>
