<div class="container-shen" data-controller="pokemon">
  <%= simple_form_for @pokemon, html: { class: "step-form-container", data: { "pokemon-target": "form", action: "submit->pokemon#step" } } do |f| %>
      <div data-pokemon-target="step" class="step-form-container">
        <%= render "pokemons/form", f: f %>
      </div>
    <% end %>
</div>
