<h1 class="poke-new">Pokemons#new</h1>
<div class="container-shen">
  <%= simple_form_for @pokemon, html: { class: "step-form-container", data: { controller: "pokemon", action: "submit->pokemon#step" } } do |f| %>
      <div data-pokemon-target="step" class="step-form-container">
        <%= render "pokemons/form", f: f %>
      </div>
    <% end %>
</div>
